{% extends 'main/base.html' %}

{% block content %}
<div class="text-center">
    <h1>Письмо на сброс пароля отправлено</h1>
    <h5>Мы отправили вам по электронной почте инструкции по установке пароля,
        если существует учетная запись с указанным вами адресом электронной почты.</h5><br>
    <h6 style="width: 60%; margin: 0 auto">Если вы не получили электронное письмо, убедитесь, что вы ввели адрес,
        под которым зарегистрировались, и проверьте папку со спамом.</h6>
</div>
<div class="text-center">
    <a href="{% url 'catalog:ko1216-shop' %}">Вернуться на главную</a>
</div>
{% endblock%}