{% extends 'main/base.html' %}

{% block content %}
<div class="text-center">
    <h1>Добро пожаловать на страницу сброса пароля</h1>
    <h3>
        Забыли пароль? Пожалуйста, введите вашу почту, на которую зарегестрирован ваш аккаунт,
        мы отправим вам ссылку для сброса пароля
    </h3>
</div>
<br/>

<form action="" method="POST" class="text-center">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Отправить"/><br>
</form><br/>
<div class="text-center">
    <a href="{% url 'catalog:ko1216-shop' %}">Вернуться на главную</a>
</div>

{% endblock %}