{% extends 'main/base.html' %}

{% block content %}

<h1 class="display-4">Email рассылка</h1>
<p class="lead">Прогревный прогрев клиентов</p>


<div class="container">
    <div class="row text-center">
        <h4 class="my-0 font-weight-normal">Создано рассылок: {{ mailers_count }}</h4>
        <h4 class="my-0 font-weight-normal">Активных рассылок: {{ started_mailers_count }}</h4>
        <h4 class="my-0 font-weight-normal">Кол-во получателей рассылок: {{ clients }}</h4>
        {% for blog in blogs %}
        {% include 'blog/includes/inc_blog.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}