{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-md-6">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h6 class="card-text mb-auto">{{ mailer }}</h6>
                    <p>{{ mailer.mailing_settings }}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-success float-right"
                       href="{% url 'main:mailer_update' mail.pk %}">Изменить</a>
                    <a class="btn btn-outline-danger float-right"
                       href="{% url 'main:mailer_delete' mail.pk %}">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}