{% extends 'main/base.html' %}

{% block content %}
<form method="post" class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Удаление периодичности
            </div>
            <div class="card-body">
                {% csrf_token %}
                <p>Вы действительно хотите удалить эту периодичность? {{ period }}
                <p/>
                <button type="submit" class="btn btn-danger">
                    Удалить
                </button>
                <a class="btn btn-warning" href="{% url 'main:mail_period_list' %}">Отмена</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}